# Node-related
node_modules
npm-debug.log
yarn-error.log

# Build outputs
.next
dist
out

# Env/configs
.env*

# OS/IDE stuff
.DS_Store
*.swp
*.swo
.vscode
.idea

# Git
.git
.gitignore

# SonarQube
.scannerwork
.swc
sonar-project.properties

# Docker ignore file itself
.dockerignore

.requests.http
tests
